:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(38, 38, 38);
  color: rgb(255, 255, 255);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@keyframes blinking {
  0% { opacity: 1; } 
  50% { opacity: 0.1; } 
  100% { opacity: 1; } 
}

.blinking {
  animation: blinking 2.5s infinite;
}

.MuiAlert-icon {
  color: rgb(0, 0, 0)!important;
}

